.event {
  width: 100%;
  padding-left: 40px;
  padding-right: 40px;
  margin: 0 auto;
  max-width: 1414px;

  &__reserve {
    width: 100%;
    padding-left: 40px;
    padding-right: 40px;
    margin: 0 auto;
    max-width: 1414px;
    padding-top: 700px;
  }
}
